/* секція Наша команда */
/* h2 Наша команда - title-second */
.team-section {
    background: #f5f4fa;
    /* padding-top: 94px; */
}

.team__title.title-second {
    margin-bottom: 50px;
}

.team-cards__list {
    display: flex;
    justify-content: center;
   
}
$width-container: 1200px;
$padding-container: 15px;
.team-card__item {
    background-color: var(--prime-bg-color--);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    
        flex-basis: calc((#{$flex-basis}-30px * 3) / 4);
    /* overflow:hidden; */
    transition: var(--transform--) 1s var(--cubic--);
}

.team-card__item:last-child {
    margin-right: 0px;
}

.team-card__item:hover {
    transform: scale(1.5);
}

.team-card__image {
    display: block;
    width: 270px;
    margin-bottom: 30px;
}

/* h3 - card-name title-second */
.team-card__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(18.75 / 16);
    letter-spacing: 0.03em;
    color: var(--title-ccolor--);
    text-align: center;
    margin-bottom: 10px;
}

/* position */
.team-card__position {
    font-size: 16px;
    line-height: calc(18.75 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color--);
    /* margin-bottom: 16px; */
}